@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-text: var(--text);
  --color-text-secondary: var(--text-secondary);
}

:root {
  --background: #F7FAFA;
  --secondary: #FFA02B;
  --secondary-hover: #E59026;
  --accent: #E3E8F2;
  --accent-hover: #E4E6EB;
  --primary: #F5C754;
  --primary-hover: #F4C245;
  --text: #141C24;
  --text-secondary: #405473;
}

.dark {
  --background: #141C24;
  --secondary: #272f37;
  --secondary-hover: #DCDEE0;
  --accent: #273646;
  --primary: #F5C754;
  --primary-hover: #F4C245;
  --text: #F7FAFA;
  --text-secondary: #DEE1E1;
}