@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Light mode colors */
  --color-bg: #ffffff;
  --color-bg-secondary: #f0f0f0;
  --color-primary: #c9cf2b;
  --color-secondary: #babd48;
  --color-border: #d3d3d3;
  --color-text: #121212;
  --color-text-placeholder: #b6b6b6;

  /* Dark mode colors */
  --color-bg-dark: #121212;
  --color-bg-secondary-dark: #282828;
  --color-border-dark: #575757;
  --color-text-dark: #FFFFFF;
  --color-text-placeholder-dark: #8b8b8b;
}